/* tehai_ui */

.pai_large {
    width: 40px;
    height: 56px;
  }
  
  .pai_tehai_ui:hover {
    opacity: 0.5;
  }
  
  /* kan_button_ui */
  
  #kan_button_ui{
    clear: both;
  }
  
  .kan-icon {
    margin-left: 8px;
    /*vertical-align: middle; middleでも概ね問題ないがpx単位で指定できるのでそちらを利用*/
    vertical-align: -13px;
  }
  
  
  /* end_kyoku_dialog */
  
  #dialog_end_kyoku {
    display: none;
  }
  #dialog_background {
    /* これのおかげで、ダイアログが出る際に、ダイアログ以外のクリックを無効化している。*/
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.05;
  }
  #dialog_content {
    position: absolute;
    left: 200px;
    top: 150px;
    width: 600px;
    height: 500px;
    color: #CCCCCC;
    background: rgba(50,50,50, 0.85);
    text-align: center;
    border: solid 1px;
  }
  
  .ryukyoku_tehai_table {
    margin: 0 auto; /* これのおかげで、テーブルをセンタリングできているらしい*/
    border-spacing: 0px 8px;
  }
  
  .ryukyoku_score_table {
    margin: 0 auto;
    color: #CCCCCC;
  }
  
  .end_kyoku_confirm{
    width: 100px;
    height: 50px;
    line-height: 50px;
      border-width: 1px;
      border-style: solid;
    border-color: #606060;
    margin:0 auto; /* これのおかげで、div要素をセンタリングできているらしい*/
  }
  
  .end_kyoku_confirm a{
    display: block;
    color: #CCCCCC;
    background-color: #707070;
      text-decoration: none;
  }